.fave-pets {
  background-color: $tertiary;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh;
}
.fave-pets-body {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh;
}

.fave-pets-heading {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
}

.saved-pet .pet-card {
  width: 100%;
  height: 370px;
  float: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: none;
}

.saved-pet {
  float: left;
  width: 31%;
  min-width: 300px;
  margin-bottom: 50px;
  background-color: white;
  border: 2px solid $secondary;
  box-shadow: 5px 10px 5px rgba(35, 198, 183, 0.5);
}

.saved-pet:nth-child(3n + 2) {
  margin: 0 3.5%;
}

.delete-button {
  display: block;
  margin: 20px auto;
}

.fave-pets-link {
  display: block;
  width: 100px;
  clear: both;
  margin: 50px auto;
  text-align: center;
}

.saved-pet .pet-card-description .button {
  margin-top: 15px;
}




@media (max-width: 1250px){
  .saved-pet {
    width: 47%;
  }

  .saved-pet:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%;
  }

  .saved-pet:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%;
  }
}

@media (max-width: 800px){

  .fave-pets-body {
    width: 70%;
  }

  .saved-pet {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .delete-button {
    margin-bottom: 20px;
    width: 30%;
  }

  .saved-pet:nth-child(odd) {
    margin-right: 0;
  }

  .saved-pet:nth-child(even) {
    margin-left: 0;
  }

}

@media (max-width: 550px){
  .fave-pets-body {
    width: 90%;
  }

  .delete-button {
    width: 40%;
  }

}

.fave-pets-heading {
  text-transform: uppercase;
}
