

header {
  width: 100%;
  position: fixed;
  top: 0;
}

input.hamburger {
  visibility: hidden;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  height: 60px;
  padding: 15px 0px;
}

.header-logo {
  width: 120px;
  float: left;
  margin-right: 5px;
}

.dropdown-button {
  display: none;
}

input[type=checkbox] {
  visibility: hidden;
}

.main-header {
  background-color: $tertiary;
  background-image: url(../Components/glitter-background.gif);
  
  .search-form {
    width: 60%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-button {
    float: right;
    margin-left: 10px;
  }

}


@media (max-width: 900px) {
  .dropdown-button {
    float: right;
    display: block;
    // width: 30px;
    // height: 30px;
    background-color: $secondary;
    color: white;
    font-size: 0.7rem;
    text-align: center;
  }

  .main-header {
    input[type=submit] {
    }
    
    input[type=checkbox]:checked ~ .search-form {
      display: block;
      top: 50px;
    }

    .search-form {
      margin: 30px auto 0 auto;
      width: 100%;
      position: absolute;
      top: -250px;
      transition: all 0.3s ease-out;
    }

    .search-form input, .search-form select {
      display: block;
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

  }
}

@media (max-width: 320px) {
    .header-button {
      font-size: 0.6rem;
      padding: 4px;
    }
}