
.landing-page {
  // background-color: $tertiary;
  background-image: url(../Components/glitter-background.gif);
  height: 100vh;
  width: 100vw;

  .search-form input, .search-form select {
    padding: 5px;
    appearance: none;
    border: none;
    border: 1px solid $secondary;
    height: 100%;
    width: calc((100% / 5) - 5px);
    color: $secondary;
    margin: 0 2.5px;
  }
  
  .search-form .button {
    border-radius: 0;
    color: white;
    display: block;
    margin: 10px auto 0 auto;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.wrapper-landing {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}

.box h3 {
  border-bottom: 1px solid $secondary;
  width: 100%;
  padding: 5px 10px;
  letter-spacing: 4px;
  font-size: .8rem;
}

.wrapper-landing p, .wrapper-landing ul {
  padding: 10px;
  line-height: 2;
  letter-spacing: .5px;
  font-size: .8rem;

  li {
    padding-bottom: 10px;
  }
}

.welcome, .instruction {
  width: calc(50% - 5px);
  float: left;
  min-height: 300px;
  margin-bottom: 10px;
}

.welcome {
  margin-right: 10px;
}

.welcome i, .instruction i, .landing-search-form i, .wrapper-single-pets i {
  float: right;
}

.landing-search-form {
  padding: 0;
  min-width: 300px;
  height: 150px;
}

.landing-page .search-form {
  margin: 20px auto;
}

.landing-tagline {
  color: $primary;
  font-size: 1rem;
  letter-spacing: 1.8px;
  margin-bottom: 20px;
}

.landing-title {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-bottom: 25px;
  position: relative;
}

.glitter {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-logo {
  width: 250px;
  display: inline;
  padding: 0px 20px;
  animation: float 2.5s infinite ease-in-out;
}

.landing-header {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding-top: 15px;

  .button {
    position: static;
    float: right;
    margin-left: 5px;
  }
}

@keyframes float {
	0% {
		filter: drop-shadow(0 15px 5px rgba(0,0,0,0.2));
		transform: translatey(0px);
	}
	65% {
    filter: drop-shadow(0px 20px 5px rgba(0,0,0,0.2));

		transform: translatey(-5px);
	}
	100% {
    filter: drop-shadow(0 15px 5px rgba(0,0,0,0.2));

		transform: translatey(0px);
	}
}


@media (max-width: 900px) {
  .landing-logo {
    width: 125px;
    padding: 0;
  }
  .welcome, .instruction,  .landing-search-form {
    width: 100%;
    clear: both;
    min-height: auto;
    min-width: 200px;
    margin-bottom: 10px;
  }
  .wrapper-landing {
    margin-bottom: 50px;
    width: 90%;
  }
}

@media (max-width: 700px) {
  .landing-search-form {
    height: 300px;
  }

  .landing-page {
    .search-form input, .search-form select {
      text-align: center;
      display: block;
      width: 100%;
      margin: 5px 0px;
    }
  }
}