

.result-page .pet-card {
  min-width: 300px;
  width: 31%;
  height: 370px;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 10px 5px rgba(35, 198, 183, 0.5);
}

.pet-photo {
  width: 80%;
  height: 70%;
  margin: 15px auto;
  background-size: cover;
  background-position: center;
}

.pet-card-description {
  width: 80%;
  margin: 0 auto;

  .button {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  p {
    font-size: .8rem;
    letter-spacing: .05rem;
  }

}

.pet-card-description * {
  display: block;
}