
.result-page {
  background-color: $tertiary;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh;
}

.wrapper-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.wrapper-results .pet-card:nth-child(3n + 2) {
  margin: 0 3.5%;
}


@media (max-width: 1210px) {

  .wrapper-results {
    width: 80%;
    // margin-left: 10rem;
  }
  
  .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%;
}

.wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%;
}

.result-page .pet-card {
    width: 47%;
}

}

@media (max-width: 1000px) {

  .wrapper-results {
    width: 80%;
    // margin-left: 7rem;
  }

  .result-page .pet-card {
    width: 47%;
  }

    .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%;
}

    .wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%;
}

}

@media (max-width: 800px) {

  .wrapper-results {
    width: 70%;
  }

  .result-page .pet-card {
    width: 100%;
  }

    .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0;
    // margin-right: 1%;
}

    .wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0;
    // margin-left: 1%;
}

}

@media (max-width: 480px) {
  
  .wrapper-results {
    width: 77%;
  }

  .wrapper-results .pet-card {
    min-width: 60%;
  }

  .result-page .pet-card .button {
    width: 50%;
  }

}


.loader {
  margin: 0 auto;
}