
.search-form {
  height: 30px;
  width: 90%;
  margin: 0 auto;
}

.search-form input, .search-form select {
  padding: 5px;
  appearance: none;
  border: none;
  border: 1px solid $secondary;
  height: 100%;
  width: calc((100% / 6) - 5px);
  color: $secondary;
  margin-right: 5px;
}

.search-form select {
  background-image: url(../Components/angle-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 0.5rem;
}

.search-form .button {
  border-radius: 0;
  color: white;
  margin-right: 0;
}

.landing-header button {
  position: fixed;
  right: 0px;
  top: 5px;
}
