
.single-pets {
  background-image: url(../Components/glitter-background.gif);
}

.wrapper-single-pets {
  width: 60%;
  margin: 100px auto;

  h3 {
    font-size: 2rem;
  }

  img {
    margin: 20px auto;
  }

  p {
    font-size: .8rem;
    line-height: 2;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  h4 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .button {
    margin-right: 5px;
    box-shadow: 5px 5px 5px rgba(197, 226, 220, 0.5)
  }
}


.single-pets-content {
  padding: 20px 50px;
  margin-bottom: 50px;
}

.social-buttons {
  margin: 0 auto;
}

.twitter-share-button {
  float: right;
}

.wrapper-single-pets i {
  font-size: 1.6rem;
  padding-top: 5px;
}


@media (max-width: 1100px){
  .twitter-share-button {
    float: none;
    display: block;
    margin-top: 40px;
  }
}


@media (max-width: 850px){
  .wrapper-single-pets {
    width: 80%;
  }
}


@media (max-width: 650px){
  .wrapper-single-pets {
    width: 90%;
  }

  .single-pets-content {
    padding: 10px 20px;
  }

  .wrapper-single-pets .button {
    display: block;
    width: 40%;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center;
  }
}

@media (max-width: 450px){
  .wrapper-single-pets {
    width: 95%;
  }

  .wrapper-single-pets .button {
    width: 45%;
  }

  .single-pets-content {
    padding: 10px;
  }
}