
.wrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
  margin: 0 auto;
  color: $secondary;
  background-color: $tertiary;
}

.button {
  padding: 8px 10px;
  background-color: $secondary;
  color: white;
  // border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
}

.button, .link {
  border: none;
}

.box {
  border: 2px solid $secondary;
  background-color: white;
}

h1, h2, h3, h4 {
  font-weight: normal;
}





