
.wrapper {
  width: 80%;
  margin: 0 auto;
}


body {
  font-size: 62.5%;
  margin: 0 auto;
  color: $secondary;
  background-color: $tertiary;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh;
}

.button {
  padding: 8px 10px;
  background-color: $secondary;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: $primary;
}

.link {
  text-decoration: none;
}

.button, .link {
  border: none;
}

.box {
  border: 2px solid $secondary;
  background-color: white;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.pet-card, .saved-pet {
  transition: 0.5s;
}

.fave-pets .saved-pet:hover, .result-page .pet-card:hover {
  transform: scale(1.02);
}



