article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html {
  font-family: 'Raleway', sans-serif; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

body {
  font-size: 62.5%;
  margin: 0 auto;
  color: #23c6b7;
  background-color: #c5e2dc;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh; }

.button {
  padding: 8px 10px;
  background-color: #23c6b7;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out; }

.button:hover {
  background-color: #ff506e; }

.link {
  text-decoration: none; }

.button, .link {
  border: none; }

.box {
  border: 2px solid #23c6b7;
  background-color: white; }

h1, h2, h3, h4 {
  font-weight: normal; }

.pet-card, .saved-pet {
  transition: 0.5s; }

.fave-pets .saved-pet:hover, .result-page .pet-card:hover {
  transform: scale(1.02); }

.search-form {
  height: 30px;
  width: 90%;
  margin: 0 auto; }

.search-form input, .search-form select {
  padding: 5px;
  appearance: none;
  border: none;
  border: 1px solid #23c6b7;
  height: 100%;
  width: calc((100% / 6) - 5px);
  color: #23c6b7;
  margin-right: 5px; }

.search-form select {
  background-image: url(../Components/angle-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 0.5rem; }

.search-form .button {
  border-radius: 0;
  color: white;
  margin-right: 0; }

.landing-header button {
  position: fixed;
  right: 0px;
  top: 5px; }

header {
  width: 100%;
  position: fixed;
  top: 0; }

input.hamburger {
  visibility: hidden; }

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  height: 60px;
  padding: 15px 0px; }

.header-logo {
  width: 120px;
  float: left;
  margin-right: 5px; }

.dropdown-button {
  display: none; }

input[type=checkbox] {
  visibility: hidden; }

.main-header {
  background-color: #c5e2dc;
  background-image: url(../Components/glitter-background.gif); }
  .main-header .search-form {
    width: 60%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .main-header .header-button {
    float: right;
    margin-left: 10px; }

@media (max-width: 900px) {
  .dropdown-button {
    float: right;
    display: block;
    background-color: #23c6b7;
    color: white;
    font-size: 0.7rem;
    text-align: center; }
  .main-header input[type=checkbox]:checked ~ .search-form {
    display: block;
    top: 50px; }
  .main-header .search-form {
    margin: 30px auto 0 auto;
    width: 100%;
    position: absolute;
    top: -250px;
    transition: all 0.3s ease-out; }
  .main-header .search-form input, .main-header .search-form select {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto; } }

@media (max-width: 320px) {
  .header-button {
    font-size: 0.6rem;
    padding: 4px; } }

.landing-page {
  background-image: url(../Components/glitter-background.gif);
  height: 100vh;
  width: 100vw; }
  .landing-page .search-form input, .landing-page .search-form select {
    padding: 5px;
    appearance: none;
    border: none;
    border: 1px solid #23c6b7;
    height: 100%;
    width: calc((100% / 5) - 5px);
    color: #23c6b7;
    margin: 0 2.5px; }
  .landing-page .search-form .button {
    border-radius: 0;
    color: white;
    display: block;
    margin: 10px auto 0 auto; }

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%; }

.wrapper-landing {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px; }

.box h3 {
  border-bottom: 1px solid #23c6b7;
  width: 100%;
  padding: 5px 10px;
  letter-spacing: 4px;
  font-size: .8rem; }

.wrapper-landing p, .wrapper-landing ul {
  padding: 10px;
  line-height: 2;
  letter-spacing: .5px;
  font-size: .8rem; }
  .wrapper-landing p li, .wrapper-landing ul li {
    padding-bottom: 10px; }

.welcome, .instruction {
  width: calc(50% - 5px);
  float: left;
  min-height: 300px;
  margin-bottom: 10px; }

.welcome {
  margin-right: 10px; }

.welcome i, .instruction i, .landing-search-form i, .wrapper-single-pets i {
  float: right; }

.landing-search-form {
  padding: 0;
  min-width: 300px;
  height: 150px; }

.landing-page .search-form {
  margin: 20px auto; }

.landing-tagline {
  color: #ff506e;
  font-size: 1rem;
  letter-spacing: 1.8px;
  margin-bottom: 20px; }

.landing-title {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-bottom: 25px;
  position: relative; }

.glitter {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.landing-logo {
  width: 250px;
  display: inline;
  padding: 0px 20px;
  animation: float 2.5s infinite ease-in-out; }

.landing-header {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding-top: 15px; }
  .landing-header .button {
    position: static;
    float: right;
    margin-left: 5px; }

@keyframes float {
  0% {
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.2));
    transform: translatey(0px); }
  65% {
    filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.2));
    transform: translatey(-5px); }
  100% {
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.2));
    transform: translatey(0px); } }

@media (max-width: 900px) {
  .landing-logo {
    width: 125px;
    padding: 0; }
  .welcome, .instruction, .landing-search-form {
    width: 100%;
    clear: both;
    min-height: auto;
    min-width: 200px;
    margin-bottom: 10px; }
  .wrapper-landing {
    margin-bottom: 50px;
    width: 90%; } }

@media (max-width: 700px) {
  .landing-search-form {
    height: 300px; }
  .landing-page .search-form input, .landing-page .search-form select {
    text-align: center;
    display: block;
    width: 100%;
    margin: 5px 0px; } }

.result-page .pet-card {
  min-width: 300px;
  width: 31%;
  height: 370px;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 10px 5px rgba(35, 198, 183, 0.5); }

.pet-card i {
  float: right; }

.pet-photo {
  width: 80%;
  height: 70%;
  margin: 15px auto;
  object-fit: cover; }

.pet-card-description {
  width: 80%;
  margin: 0 auto; }
  .pet-card-description .button {
    width: 40%;
    margin: 0 auto;
    text-align: center; }
  .pet-card-description p {
    font-size: .8rem;
    letter-spacing: .05rem; }

.pet-card-description * {
  display: block; }

.result-page {
  background-color: #c5e2dc;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh; }

.wrapper-results {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px; }

.wrapper-results .pet-card:nth-child(3n + 2) {
  margin: 0 3.5%; }

@media (max-width: 1210px) {
  .wrapper-results {
    width: 80%; }
  .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%; }
  .wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%; }
  .result-page .pet-card {
    width: 47%; } }

@media (max-width: 1000px) {
  .wrapper-results {
    width: 80%; }
  .result-page .pet-card {
    width: 47%; }
  .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%; }
  .wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%; } }

@media (max-width: 800px) {
  .wrapper-results {
    width: 70%; }
  .result-page .pet-card {
    width: 100%; }
  .wrapper-results .pet-card:nth-child(odd) {
    margin: 10px 0; }
  .wrapper-results .pet-card:nth-child(even) {
    margin: 10px 0; } }

@media (max-width: 480px) {
  .wrapper-results {
    width: 77%; }
  .wrapper-results .pet-card {
    min-width: 60%; }
  .result-page .pet-card .button {
    width: 50%; } }

.loader {
  margin: 0 auto; }

.single-pets {
  background-image: url(../Components/glitter-background.gif); }

.wrapper-single-pets {
  width: 60%;
  margin: 100px auto; }
  .wrapper-single-pets h3 {
    font-size: 2rem; }
  .wrapper-single-pets img {
    margin: 20px auto; }
  .wrapper-single-pets p {
    font-size: .8rem;
    line-height: 2;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.05rem; }
  .wrapper-single-pets h4 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px; }
  .wrapper-single-pets .button {
    margin-right: 5px;
    box-shadow: 5px 5px 5px rgba(197, 226, 220, 0.5); }

.single-pets-content {
  padding: 20px 50px;
  margin-bottom: 50px; }

.social-buttons {
  margin: 0 auto; }

.twitter-share-button {
  float: right; }

.wrapper-single-pets i {
  font-size: 1.6rem;
  padding-top: 5px; }

@media (max-width: 1100px) {
  .twitter-share-button {
    float: none;
    display: block;
    margin-top: 40px; } }

@media (max-width: 850px) {
  .wrapper-single-pets {
    width: 80%; } }

@media (max-width: 650px) {
  .wrapper-single-pets {
    width: 90%; }
  .single-pets-content {
    padding: 10px 20px; }
  .wrapper-single-pets .button {
    display: block;
    width: 40%;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center; } }

@media (max-width: 450px) {
  .wrapper-single-pets {
    width: 95%; }
  .wrapper-single-pets .button {
    width: 45%; }
  .single-pets-content {
    padding: 10px; } }

.fave-pets {
  background-color: #c5e2dc;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh; }

.fave-pets-body {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-image: url(../Components/glitter-background.gif);
  min-height: 100vh; }

.fave-pets-heading {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 50px; }

.saved-pet .pet-card {
  width: 100%;
  height: 370px;
  float: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: none; }

.saved-pet {
  float: left;
  width: 31%;
  min-width: 300px;
  margin-bottom: 50px;
  background-color: white;
  border: 2px solid #23c6b7;
  box-shadow: 5px 10px 5px rgba(35, 198, 183, 0.5); }

.saved-pet:nth-child(3n + 2) {
  margin: 0 3.5%; }

.delete-button {
  display: block;
  margin: 20px auto; }

.fave-pets-link {
  display: block;
  width: 100px;
  clear: both;
  margin: 50px auto;
  text-align: center; }

.saved-pet .pet-card-description .button {
  margin-top: 15px; }

@media (max-width: 1250px) {
  .saved-pet {
    width: 47%; }
  .saved-pet:nth-child(odd) {
    margin: 10px 0;
    margin-right: 3%; }
  .saved-pet:nth-child(even) {
    margin: 10px 0;
    margin-left: 3%; } }

@media (max-width: 800px) {
  .fave-pets-body {
    width: 70%; }
  .saved-pet {
    width: 100%;
    margin-bottom: 20px; }
  .delete-button {
    margin-bottom: 20px;
    width: 30%; }
  .saved-pet:nth-child(odd) {
    margin-right: 0; }
  .saved-pet:nth-child(even) {
    margin-left: 0; } }

@media (max-width: 550px) {
  .fave-pets-body {
    width: 90%; }
  .delete-button {
    width: 40%; } }

.fave-pets-heading {
  text-transform: uppercase; }
